
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
*, *:before, *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
$color-padrao: #fff;
$fundo-padrao: #5ACBE3;
$color-verde: #4BBDB8;
$color-black:#81878C;
$container: 100%;
$fonte-padrao:'Lato';

%responsive{
	max-width:100%;
	height: auto;
}
%text-center {
	text-align: center;
}
%center {
    margin-left: auto;
    margin-right: auto;
}
%block {
	display: block;
}
%margin-padrao{
	margin:15px;
}
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
figure {
	margin:0;
	padding:0;
}
strong{
	
	font-weight: 900;
}

.fixed {
	position: fixed !important;
	background-color: $color-verde;
	z-index: 9999;
	top:0;
	
}


body {
	font-size:100%;
	font-family: $fonte-padrao, arial, sans-serif;
	color: $color-padrao;
	background-color: $fundo-padrao;
	background-image:url(../imagens/texture-body.png), radial-gradient(rgba(255,255,255,.4),rgba(255,255,255,.0)); 	
}
.container {
	
	@extend %center;
	width:$container;
	position: relative;
}
#logo.logo-mobile{
	display:block;
	width:35px;
	max-width:35px;
	height:16px;
	margin:12px;
	background-image:url(../imagens/logo-mobile.svg);
	background-repeat:no-repeat;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
#logo img{
	width:40%;
	max-width:123px;
	@extend %margin-padrao;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.slogan {
	@extend %block;
	position: relative;
	top:-15px;
	left:12px;
	font-style: italic;
	font-weight: 300;
	font-size: 1em;
	letter-spacing: 0.10em;
	width:150px;
}
.icone-menu{
	position: absolute;
	right: 0px;
	top:35px;
	@include size(30px);
	@extend %margin-padrao;
	cursor:pointer;
	text-indent:-9999px;
	z-index: 9999;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	}

.icone-menu.animate{
	top:8px;
	margin-top:0px;
	margin-bottom:0px;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.icone-menu span, .icone-menu span::after, .icone-menu span::before {
	position: absolute;
	@extend %block;
	width:30px;
	height: 5px;
	border-radius:3px;
	background-color: $color-padrao;
	content:'';
}
.icone-menu span::before{
	bottom:-9px;
}
.icone-menu span::after{
	bottom:-18px;
}
.menu {
	display:none;
	background-color:$color-verde;
	position: absolute;
	width: 100%;
	z-index:9999;
}

.principal h2 span{
	@extend %center;
	font-weight: 300;
	font-size: 1.4em;
	@extend %text-center;
	@extend %block;
	@extend %margin-padrao;
	margin-bottom:15px;
}
.btn {
	@extend %block;
	width:190px;
	padding: 10px;
	font-weight: 900;
	@extend %text-center;
	@extend %center;
	text-decoration: none;
	color:$color-padrao;
	text-transform: uppercase;
	position:relative;
}
.btnP{
	background-color: transparent;
	font-size: 0.8em;
	 border: solid #fff 1px;
	-webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

}
.btnP:hover{
	background-color: $color-verde;
	border-color: $color-verde;
	color:#fff;

}

.pc {
	background-image: url(../imagens/notebook_banner.svg);
	background-size: cover;
	width: 200px; 
	height: 150px;
	position: relative;
	bottom: -30px;
	z-index: 10;
	@extend %center;
}
.frase{
	padding: 40px 10px;
	text-align: center;
	font-size: 1.0em;
	line-height: 1.4em;
	font-weight: 300;
	@extend %center;
	max-width: 320px;
}

.intro {
	background-color:#fff;
	color:$color-black;
}
.intro strong{
	color:$fundo-padrao;
}
.titulo{
	font-size:2.5em;
	text-transform:uppercase;
	@extend %text-center;
	padding:30px 0px;
}

#portfolio h2{
	color:#fff;
}
#portfolio h2 strong::after{
	@extend %block;
	border-left: 12px solid transparent;
  	border-right: 12px solid transparent;
  	border-top: 12px solid #1b2631;
  	width:24px;
  	height:12px;
  	margin-top:5px;
  	margin-left:auto;
  	margin-right:auto;
  	content:'';
}
#portfolio .frase span{
	font-size:0.57em;
	@extend %block;
	line-height:1.4em;
	display:none;
}

#portfolio{
	background-color:#2c3e50;
}
.bloco figure{
	
	padding-bottom:20px;
}
.linha{
	width:100%;
	border-top:2px dotted #1b2631 ;
	border-bottom:0;
	border-left:0;
	border-right:0;
	background-color:#2c3e50;
	margin-bottom:40px;
}

.bloco  img{
	width:300px;
	@extend %center;
	@extend %block;
	
}
.bloco figcaption{
	padding:5px;
	@extend %text-center;
}
.bloco figcaption h3 {
	color:$color-verde;
	text-transform:uppercase;
	font-size:1.6em;
}
.bloco h3 span::before{
	content:'- - - - ';
	@extend %block;
	color:#1b2631;
	font-size:2em;
	font-weight:900;
}
.bloco h3 span {
	color: #fff;
	@extend %block;
	font-size:0.7em;
	text-transform:none;
	
}
.btnPort {
	margin-top:20px;
	margin-bottom:20px;
	text-decoration: none;
	border-radius:2px;
	box-shadow: 0px 10px #379692;
	-moz-transition: border .25s linear, color .25s linear, background-color .25s linear;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
    z-index:10;
    
}
.btnPort span{
	color:$color-padrao;
	text-transform: uppercase;
	position:relative;
	top:5px;
	z-index:10;
}
.btnPort::after{
	background-color:$color-verde;
	border-radius:2px;
	position:absolute;
	z-index:1;
	left:0; top:0; right:0; bottom:-6px;
	content:'';
}
.btnPort:hover{
	top:2px;
	box-shadow:0px 8px #379692;
}
#servico {
	background-color:#ECF0F1;
	position:relative;
}
.gear{
	
	@include size(150px);
	border-radius:150px;
	background-color:#ECF0F1;
	position:relative;
	top:-120px;
	@extend %block;
	@extend %center;
	z-index:0;
	
}
/* CSS3 keyframes */
@-webkit-keyframes gira {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes gira {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
.gear::after{
	background: url(../imagens/gear.png) no-repeat 0 0;
  	height: 46px;
  	width: 48px;
  	position:absolute;
	top: 25px;
	left:52px;
  	@extend %block;
  	content:'';

  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: gira;
  animation-name: gira;
  -moz-animation-duration: 10s;
  -webkit-animation-name: gira;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  
}
#servico h2 strong{
	color:#2c3e50;
	z-index:2;
	position:relative;
}









