@font-face{font-family:'Candara';src:url(../fonts/candara-webfont.eot);src:local(candara),url(../fonts/candara-webfont.ttf) format("truetype")}
body{font-family:'Candara',MyriadPro-Regular,Arial,Heveltica,sans-serif}
h2{color:#369;font-style:bold}
.centered{margin-left:auto;margin-right:auto}
.bottom-10{margin-bottom:10px}
.bottom-40{margin-bottom:40px}
.top-20{margin-top:20px}
.bottom-20{margin-bottom:20px}
.bg{background-image:url(../img/background_topo.jpg);background-size:cover;background-repeat:no-repeat;background-position:right top;position:relative}
.wrap-logo{width:100%;display:inline-block;height:100%}
.logo{width:23%;height:23%;display:inline-block;z-index:20;margin-right:5%;margin-bottom:7%;float:right}
.fixed{position:fixed!important;top:0!important;height:38px}
.wrap-menu{width:100%;background:rgba(0,0,0,0.85);position:absolute;bottom:0;z-index:8888}
.icone-menu{display:none}
.menu{display:inline-block}
.menu li{display:inline-block;position:relative;margin-right:-4px}
.menu li span{display:inline-block;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #aaa;position:relative;left:10px}
.menu li a,.menu .dropdown > a{text-decoration:none;color:#fff;padding:20px 40px;display:block;transition:all .25s linear}
.menu li a:hover,.menu .dropdown:hover{background-color:#45b2cc}
.dropdown > a{cursor:default}
.sub-menu li a:hover{background-color:#fff}
.sub-menu{display:none}
.sub-menu.active{display:block;top:60px;left:0;border-bottom:solid #45b2cc 1px;border-left:solid #45b2cc 1px;border-right:solid #45b2cc 1px;width:100%;position:absolute;background-color:#fff}
.sub-menu li{width:100%}
.sub-menu li a{height:100%;color:#333;width:100%}
.sub-menu li a:hover{text-decoration:underline}
.linha{display:block;border:dashed #DADFE1;border-width:0;height:1px;border-top-width:1px;width:100%;margin:0;background-color:#fff}
.social li:nth-child(1) a[href*="facebook.com"]{background-image:url(../img/facebook.png)}
.social li:nth-child(1) a:hover{background-color:#415c92}
.social li:nth-child(2) a[href*="twitter.com"]{background-image:url(../img/twitter.png)}
.social li:nth-child(2) a:hover{background-color:#37aac5}
.social li:nth-child(3) a[href*="plus.google.com"]{background-image:url(../img/google-plus.png)}
.social li:nth-child(3) a:hover{background-color:#2a2926}
.social li:nth-child(4) a[href*="dribbble.com"]{background-image:url(../img/dribbble.png)}
.social li:nth-child(4) a:hover{background-color:#e36893}
.social li a{width:38px;height:38px;border-radius:50%;color:transparent;text-indent:-9999px;display:inline-block;margin-right:-4px;margin-left:5px;position:relative;top:12px;overflow:hidden;vertical-align:middle;background-color:transparent;background-repeat:no-repeat;background-position:center}
.social li{display:inline-block;margin-right:-4px}
.social{float:right}
#bg-projetos{background:transparent url(../img/base_mar.jpg);color:#999;padding-bottom:10px}
#bg-projetos h1{font-size:45px;font-weight:800;color:#fff;margin-top:10px}
#bg-projetos p{font-size:18px;color:#D2D7D3}
.topo-rodape{width:100%;background-color:#264549;padding-bottom:20px}
.topo-rodape h3{color:#fff;font-size:20px}
.topo-rodape a{color:#ececec}
.border-equipe{border-color:#22363b;border-style:solid;border-width:6px;width:50px;height:50px;margin-right:10px}
.rodape{width:100%;background-color:#22363b}
.rodape p{padding:25px;color:#fff;margin:0}
@media only screen and (max-width: 700px) {
.bg{background-image:url(../img/background_topo-mobile.jpg);background-position:left top}
.logo{width:40%;height:40%;margin-right:2%;margin-bottom:10%}
.menu{display:none}
.menu.active{display:block;width:100%;position:absolute;top:38px;left:0;background-color:#fff;border-bottom:solid #ccc 1px}
.menu li{display:block}
.menu li a,.menu .dropdown a{color:#444;width:100%;padding-left:20px;font-size:18px;display:block}
.sub-menu .linha{background-color:#f2f2f2}
.sub-menu.active{border:none;top:0;left:0;position:relative}
.sub-menu.active a{padding-left:45px;font-size:16px;background-color:#f2f2f2}
.sub-menu li a:hover{background-color:#f2f2f2}
.social li a{top:0!important}
.icone-menu{display:block;width:25px;padding:10px 0;position:absolute;text-indent:-9999px;top:8px;z-index:9999px;cursor:pointer}
.icone-menu span,.icone-menu span:before,.icone-menu span:after{width:25px;height:3px;display:block;border-radius:3px;background-color:#fff;position:absolute;content:''}
.icone-menu span:before{top:-8px}
.icone-menu span:after{bottom:-8px}
#bg-projeto h1{font-size:35px}
}